div(id="footer" class="row")
    div(class="col-xs-12 logo")
        img(id="icon", class="small-image", src='images/benefisher.png')
        p
            span(class="title")
                | benefisher<br />
            | social services search
        p.about
            | <span class="repo-link"><a href="http://github.com/wakati/benefisher">Benefisher is open source!</a></span>
        p.attribution Fishing Rod designed by
            |<a href="http://www.thenounproject.com/GuillaumeK">Guillaume Kurkdjian</a> from the
            |<a href="http://www.thenounproject.com">Noun Project</a>