div(id="footer" class="row")
    div(class="col-md-12 col-xs-12 logo")
        img(class="small-image", src='images/benefisher.png')
        p
            span(class="title")
                | benefisher<br />
            | social services search
        p.attribution Fishing Rod designed by
            |<a href="http://www.thenounproject.com/GuillaumeK">Guillaume Kurkdjian</a> from the
            |<a href="http://www.thenounproject.com">Noun Project</a>