extends layout

block content
    div(class="container-fluid")
        div(id="header", class="row")
            div(class="col-md-12 col-xs-12 search-container")
                include search
        div(class="row")
            include oep
        div(class="row")
            include map
        div(class='row')
            include notification
        include results
        include footer
    include scripts

