doctype html
html
  head
    title= title
    // Viewport for mobile touch, see http://getbootstrap.com/css/
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/components/bootstrap-tagsinput/dist/bootstrap-tagsinput.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/components/leaflet/dist/leaflet.css')
  body(ng-app="benefisher")
    block content