doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/components/bower-foundation/css/foundation.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content