// Created by anthony on 9/20/14.

div(class="col-lg-8" ng-controller='MapController', ng-class='({loading: mapLoading})')
    leaflet(class="map", defaults='defaults', center='center', markers='markers', controls='controls')
