// Created by anthony on 9/20/14.
div(id="map" class="col-lg-12 map-container" ng-controller='MapController', ng-class='({loading: mapLoading})')
    leaflet(class="map", defaults='defaults', center='center', markers='markers')
    div(id="map-overlay", ng-show="searching")
