// Created by anthony on 9/20/14.


div(class='results', ng-controller='ResultsController', scroll-on-click="")
    div(class='info', ng-show='noResults')
        p
            | We couldn't find any services matching your search in this area.<br />
            | Try removing some terms from your search, or zooming out on the map to search a wider area.
    p(class='results-count', ng-show='! noResults'). {{results.length}} results found
    div(ng-repeat='result in results', ng-mouseover='onMouseOver($index)', ng-mousemove='onMouse($event)', class="result", ng-class="{ selected: result.selected, expanded: result.expanded }", id="result-{{$index}}")
        p(class='number') {{ $index+1 }}
        a(class='expand', ng-click='expandResult($index)' title='Expand result')
        h4 {{result.name}}
        div(class="thumbs")
            a(href="#", title="This result is helpful.", ng-click="interaction(result.id, TARGET.LIKE)")
                span(class="glyphicon glyphicon-thumbs-up like")
            a(href="#", title="Remove this result.", ng-click="hideResult($index)")
                span(class="glyphicon glyphicon-thumbs-down remove")
        p(class="address") {{result.address}}
        p(class="description") {{result.description}}
        p(class="hours", ng-class="result.openStatus") {{result.hours}}
        div(class='buttons')
            a(ng-click='interaction(result.id, TARGET.LINK, result.url)', ng-show="result.url", target='_blank', title='Website: {{result.url}}')
                span(class='glyphicon glyphicon-link')
            a(ng-click='interaction(result.id, TARGET.PHONE, result.phoneUrl)', ng-show="result.phoneUrl", target='_blank', title='Call: {{result.phone}}')
                span(class='glyphicon glyphicon-phone')
            a(ng-click='interaction(result.id, TARGET.DIRECTIONS, result.directionsUrl)', ng-show="result.directionsUrl", target='_blank', title='Directions to: {{result.address}}')
                span(class='glyphicon glyphicon-road')
            a(ng-click='interaction(result.id, TARGET.EMAIL, result.emailUrl)', ng-show="result.emailUrl", target='_blank', title='Email: {{result.email}}')
                span(class='glyphicon glyphicon-envelope')
        div(class="open_status", ng-show="result.openStatus", ng-class="result.openStatus", title="We can't guarantee this, always call to make sure.")

