// Created by anthony on 9/20/14.

div(class="results", ng-controller='ResultsController')
    div(ng-repeat='result in results', class="result", id="result-{{$index}}")
        h5{{result.name}}
        p{{result.description}}
        p{{result.address}}
        p{{result.hours}}