// Created by anthony on 9/20/14.


div(class='results row', ng-controller='ResultsController')
    div(class='info col-xs-12', ng-show='noResults')
        p
            | We couldn't find any services matching your search in this area.<br />
            | Try removing some terms from your search, or zooming out on the map to search a wider area.
    div(ng-repeat='result in results | limitTo: 4', ng-click='onClick($index)', class="result", id="result-{{$index}}")
        h4 {{result.name}}
        div(class="thumbs")
            a(href="#" title="This result is helpful." ng-click="alert('IMPLEMENT ME!!!')")
                span(class="glyphicon glyphicon-thumbs-up like")
            a(href="#" title="Remove this result." ng-click="hideResult($index)")
                span(class="glyphicon glyphicon-thumbs-down remove")
        p {{result.address}}
        p {{result.hours}}
        div(class='buttons')
            a(href='{{result.url}}', target='_blank', title='Website: {{result.url}}')
                span(class='glyphicon glyphicon-link')
            a(href='{{result.phoneUrl}}', target='_blank', title='Call: {{result.phone}}')
                span(class='glyphicon glyphicon-phone')
            a(href='{{result.directionsUrl}}', target='_blank', title='Directions to: {{result.address}}')
                span(class='glyphicon glyphicon-road')
            a(href='{{result.emailUrl}}', target='_blank', title='Email: {{result.email}}')
                span(class='glyphicon glyphicon-envelope')

