// Created by anthony on 9/20/14.

//TODO: Should eventually take the full screen.. margin is too high.
div(class="col-lg-6")
    input(type="text", placeholder="I am a..")
div(class="col-lg-6")
    input(type="text", placeholder="I need..")