// Created by anthony on 9/20/14.

//TODO: Should eventually take the full screen.. margin is too high.
div
    div(class="col-sm-6 col-xs-6 input-container")
        input(type="text", name="situation", placeholder="What's my situation?", class="search-input situation-input")
    div(class="col-sm-6 col-xs-6 input-container")
        input(type="text", data-role="tagsinput" name="need", placeholder="What do I need?", class="search-input need-input", ng-model="need")
