//
   Created by anthony on 9/20/14.

//TODO: Should eventually take the full screen.. margin is too high.
div(class="large-6 columns")
    input(type="text", placeholder="I am a..")
div(class="large-6 columns")
    input(type="text", placeholder="I need..")