// Created by anthony on 9/20/14.
//TODO: Should eventually take the full screen.. margin is too high.
div(ng-controller='SearchController')
    div(class="col-md-12 col-xs-12")
        div(class="col-sm-6 col-xs-12 input-container" ng-cloak)
            // input(type="text", name="situation", placeholder="What's my situation?", class="search-input situation-input")
            ui-select(multiple ng-model="selectedSituations" theme="select2" style="width: 100%;" class="search-input need-input", on-select="addSituation($item, $model)")
                ui-select-match(placeholder="What's My Situation?")
                ui-select-choices(repeat="situation in situations | fuzzy:$select.search | orderBy:orderById track by situation.oe_id")
                    p(ng-class="{'oep-header': situation.oe_id.length == 3}") {{situation.name}}
        div(class="col-sm-6 col-xs-12 input-container", ng-cloak)
            ui-select(multiple ng-model="selectedOepTerms" theme="select2" style="width: 100%;" class="search-input need-input", on-select="addOepTerm($item, $model)")
               ui-select-match(placeholder="What do I need?") {{$select.selected.name}}
               ui-select-choices(repeat="oepterm in oepterms | fuzzy:$select.search | orderBy:orderById track by oepterm.oe_id")
                   p(ng-class="{'oep-header': oepterm.oe_id.length == 3}") {{oepterm.name}}
    div(class="col-md-12 col-xs-12 tag-container")
        div(class="col-sm-6 col-xs-6")
            span()
                ul(class="list-inline")
                    li(ng-repeat="situation in selectedSituations")
                        button(type="text" class="tags" ng-click="removeSituation(situation)") {{situation.name}}
        div(class="col-sm-6 col-xs-6")
            span()
                ul(class="list-inline")
                    li(ng-repeat="oepterm in selectedOepTerms")
                        button(type="text" class="tags" ng-click="removeOepterm(oepterm)") {{oepterm.name}}