commands:
  00-add-home-variable:
    command: sed -i 's/function error_exit/export HOME=\/root\n\nfunction error_exit/' /opt/elasticbeanstalk/hooks/appdeploy/pre/50npm.sh
container_commands:
  00-install-grunt:
    command: $NODE_HOME/bin/npm install -g grunt-cli
  10-run-grunt:
    command: $NODE_HOME/bin/node $NODE_HOME/bin/grunt build