#footer {
  padding-top: 40px;
  text-align: center;
}

.logo {
  img {
    height: 80px;
  }
  margin: 0;
  padding: 0;
  p {
    font-size: .8em;
    .title {
      font-size: 1.6em;
      font-weight: bold;
      font-variant: small-caps;
    }
    padding-left: 10px;
  }
  p.attribution {
    font-size: .6em;
    margin-top: 10px;
  }
}