#footer {
  padding-top: 4em;
  padding-bottom: 4em;
  text-align: center;
}

.logo {
  img {
    height: 80px;
  }
  margin: 0;
  padding: 0;
  p {
    .title {
      font-size: 1.6em;
      font-weight: bold;
      font-variant: small-caps;
    }
    padding-left: 10px;
  }

  p.about {
    margin-top: 2em;
  }
}