ul.notifications {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.notification {
  text-align: center;
  line-height: 250%;
  font-size: 1.2em;
  padding: 0 20px;
  p {
    margin: 0;
  }
}