.results {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 0;
  padding: 0;
}

.result {
  flex: 1;
  border-bottom: 2px solid black;
  width: 25%;
  min-width: 240px;
  padding: 10px;
  box-sizing: border-box;
}