.row.results {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  .info {
    text-align: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
}

.result {
  flex: 1;
  position: relative;
  max-width: 420px;
  min-width: 280px;
  text-align: center;
  border-bottom: 1px solid $muted;
  width: 25%;
  padding: 20px;
  box-sizing: border-box;
  .close {
    position: absolute;
    float: right;
    top: 10px;
    right: 10px;
  }
  .buttons a {
    padding: 10px;
  }
}

