.results {
  width: 30%;
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
  padding: 0;
  margin: 0;
  display: inline-block;
  border-left: 2px solid $secondary;
  .info {
    text-align: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
}

.results-count {
  display: block;
  width: 100%;
  text-align: center;
  line-height: 40px;
  background-color: $secondary;
  color: $lightest;
  margin: 0;
}

.result {
  text-align: center;
  border-bottom: 1px solid $secondary;
  padding: 20px;
  box-sizing: border-box;
  background-color: $lightest;

  &.selected {
    border-top: 1px solid $secondary;
    z-index: 9998;
    position: relative;
    top: -12px;
    box-shadow: 0 8px 24px 8px rgba($darkest, .5);
    // background-color: rgba($primary, .4);
  }

  h4 {
    padding: 0 40px;
    margin-top: 0;
    line-height: 150%;
  }

  .open_status {
    margin-top: 10px;
    &.open {
      color: $success;
      &:before {
        content: "Open";
      }
    }
    &.closed {
      color: $error;
      &:before {
        content: "Closed";
      }
    }
    &.closing {
      color: $warning;
      &:before {
        content: "Closing soon";
      }
    }
  }

  .hours, .address, .description, .icon-title, .hours-title {
    display: none;
  }

  .description {
    text-align: left;
  }

  .hours {
    margin: 0 0 10px 0;
    th {
      text-align: center;
      background-color: $secondary;
      color: #fff;
    }
    tr.open-row {
      border-bottom: 1px solid $secondary;
    }
    th.empty {
      background-color: transparent;
    }
    td {
      font-size: .8em;
    }
    th,td {
      padding: 5px;
    }
  }

  .number {
    color: $lightest;
    font-weight: bold;
    float: left;
    width: 30px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: 24px;
    border-radius: 50%;
    border: 3px solid $primary;
    background: $secondary;
  }

  .expand, .remove {
    float: right;
    box-sizing: border-box;
    font-size: 22px;
    line-height: 22px;
    height: 30px;
    width: 20px;
    padding: 0;
    margin: 0;
    &:hover {
      text-decoration: none;
    }
    &:before {
      width: 20px;
    }
  }

  .remove {
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
  }

  .expand {
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
  }

  .remove:before {
    content: "\00d7"
  }

  .expand:before {
    content: "\2b";
  }

  &.expanded {
    .expand {
      &:before {
        content: "\2d"
      }
    }

    .icons {
      width: auto;
      text-align: right;
      .icon-title {
        display: block;
        text-align: left;
        margin-top: 20px;
        margin-bottom: 10px;
        font-weight: bold;
      }
    }

    .icon {
      width: auto;
      display: block;
      text-align: right;
      border-radius: 0;
      padding-right: 35px;
      padding-left: 10px;
      margin-top: 0;
      box-sizing: border-box;
      .icon-description {
        display: block;
        color: $lightest;
      }
    }

    .icon:before {
      position: absolute;
      top: 0;
      right: 10px;
      z-index: 20;
    }

    .icon:hover:after {
      display: none;
    }

    .icon:first-of-type {
      border-radius: 0;
    }

    .icon:last-of-type {
      border-radius: 0;
    }

    .address, .thumbs, .description {
      display: block;
    }

    .hours-title {
      display: block;
      font-weight: bold;
      text-align: left;
      margin: 10px 0;
    }

    .hours {
      display: table;
      width: 100%;
    }
  }

  .thumbs {
    padding: 10px 0 10px 0;
  }
  .thumbs a {
    font-size: 1.2em;
    padding: 0 10px;
    line-height: 1.4em;
    cursor: pointer;
  }
  .buttons {
    padding: 10px 0;
  }
  .buttons a {
    padding: 10px;
    cursor: pointer;
  }

  .liked {
    color: $primary;
  }

  .icons {
    width: 100%;
    text-align: right;
    .icon-title {
      display: none;
    }
  }

  .icon {
    margin-top: 20px;
    display: inline-block;
    position: relative;
    color: $lightest;
    width: 2em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    background-color: $lightest;
    font-weight: 400;
    .icon-description {
      display: none;
    }
  }

  .icon:hover:after {
    content: attr(title);
    background-color: $secondary;
    border: 2px solid $lightest;
    padding: 2px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
    border-radius: 4px;
    position: absolute;
    top: -2.8em;
    left: -200px;
    width: 200px;
  }

  .icon:first-of-type {
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
  }

  .icon:last-of-type {
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
  }

  .icon:before {
    font-family: 'FontAwesome';
    font-size: 1em;
    font-weight: 100;
  }

  .care {
    background-color: #d47689;
    &:before {
      content: $fa-var-heart;
    }
    &:hover:after {
      background-color: #d47689;
    }
  }
  .food {
    background-color: #dbc817;
    &:before {
      content: $fa-var-cutlery;
    }
    &:hover:after {
      background-color: #dbc817;
    }
  }
  .money {
    background-color: #41db56;
    &:before {
      content: $fa-var-money;
    }
    &:hover:after {
      background-color: #41db56;
    }
  }
  .health {
    background-color: #222222;
    &:before {
      content: $fa-var-medkit;
    }
    &:hover:after {
      background-color: #222222;
    }
  }
  .emergency {
    background-color: #db0800;
    &:before {
      content: $fa-var-ambulance;
    }
    &:hover:after {
      background-color: #db0800;
    }
  }
  .transit {
    background-color: #3439db;
    &:before {
      content: $fa-var-bus;
    }
    &:hover:after {
      background-color: #3439db;
    }
  }
  .education {
    background-color: #3cdbd8;
    &:before {
      content: $fa-var-book;
    }
    &:hover:after {
      background-color: #3cdbd8;
    }
  }
  .work {
    background-color: #8b8b8b;
    &:before {
      content: $fa-var-suitcase;
    }
    &:hover:after {
      background-color: #8b8b8b;
    }
  }
  .legal {
    background-color: #db00ba;
    &:before {
      content: $fa-var-gavel;
    }
    &:hover:after {
      background-color: #db00ba;
    }
  }
  .goods {
    background-color: #2bdb00;
    &:before {
      content: $fa-var-shopping-cart;
    }
    &:hover:after {
      background-color: #2bdb00;
    }
  }
  .housing {
    background-color: #dbdb80;
    &:before {
      content: $fa-var-key;
    }
    &:hover:after {
      background-color: #dbdb80;
    }
  }
}


@media screen and (max-width: $screen-sm) {
  .results {
    width: 100%;
    height: auto;
    display: block;
    border-left: none;
    border-bottom: 2px solid $secondary;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .results-count {
    display: none;
  }

  .result {
    display: none;
    border-bottom: none;
    h4 {
      font-size: 150%;
      line-height: 150%;
      padding-right: 80px;
      padding-left: 80px;
    }
    .hours, .address, .description, .icon-title, .hours-title {
      display: none;
    }
    .number {
      line-height: 24px;
      font-size: 14px;
    }

    .remove, .expand {
      font-size: 250%;
    }

    .expand {
      margin-left: -30px;
      padding-right: 30px;
    }
  }

  .result.selected {
    width: 100%;
    top: 0;
    display: block;
    background-color: rgba($lightest, .8);
    .buttons a {
       font-size: 1.5em;
    }

  }

  .result.expanded {
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99999;
    position: fixed;
    background-color: rgba($lightest, .9);
    overflow: auto;
    .address, .thumbs, .description, .icon-title, .hours-title {
      display: block;
    }
    .hours {
      display: table;
      width: 100%;
    }
    .remove {
      display: none;
    }
    .expand {
      padding: 0;
      margin: 0;
    }
  }
}