.search-container {
  padding-top: 10px;
}

.search-input {
  width: 100%;
  text-align: center;
  font-size: 1.25em;
  line-height: 2em;
  border: 0;
  border-bottom: 1px dashed orange;
}

.no-terms-active {
  display: block !important;
}

.no-terms {
  display: none;
}

.oep-header {
  font-weight: bold;
  border-bottom: 1px dashed $darkest;
  margin-bottom: 0;
  padding-bottom: 10px;
}

.select2-choices {
  border: 0;
}

.select2-container-multi {
  margin:0;
  padding-bottom: 0;
}

.select2-input {
  text-align: center;
  font-size: 1em;
  border: 0;
}

.select2-drop {
  box-shadow: 0 16px 16px rgba(0, 0, 0, .2);
}

.select2-results .select2-highlighted {
  background-color: $secondary;
}

.select2-container-multi .select2-choices {
  border: 0;
  background: transparent;
  background-image: none;
  padding: .5em 0;
}

.select2-container-multi .select2-choices .select2-search-field input {
  padding: 0;
  font-size: 1em;
  line-height: 23m;
}

.select2-container-multi .select2-choices .select2-search-choice {
  margin: 0 .5em 0 0;
  background-image: none;
  background-color: transparent;
  border: 0;
  font-size: 1em;
  line-height: 2em;
  padding: 0 0 0 1.5em;
  color: rgba($darkest, .5);
}

a.select2-search-choice-close {
  display: block;
  background: none;
  font-size: 1em;
  line-height: 2em;
  height: 100%;
  color: $secondary;
  position: absolute;
  left: 0;
  top: 0;
  &:hover {
    text-decoration: none;
    color: $primary;
  }
  &:before {
    width: 1.5em;
    height: 2em;
    line-height: 2em;
    font-size: 1em;
    display: block;
    content: "\00d7";
  }
}

.select2-container-multi .select2-choices,
.select2-container-multi.select2-container-active .select2-choices{
  margin: 0 !important;
}

#header .input-container {
  min-width: 120px;
}