$icon-font-path: "../components/bootstrap-sass-official/assets/fonts/bootstrap/";
@import '../components/bootstrap-sass-official/assets/stylesheets/bootstrap';
@import 'mixins';
@import 'colors';
@import 'notification';
@import 'header';
@import 'search';
@import 'results';
@import 'map';
@import 'footer';

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


.info {
  background-color: $primary;
}

.success {
  background-color: $success;
}

.warning {
  background-color: $warning;
}

.error {
  background-color: $error;
}

.info, .success, .warning, .error {
  color: $lightest;
}